img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.marquee-container {
    width: 65%; 
    overflow: hidden; 
    white-space: nowrap; 
    box-sizing: border-box; 
}

.marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}