<div class="">
    <!-- HTML -->
    <div class="ps-1">
        <button (click)="setCanciones()" class="btn bg-dark border text-white">Canciones</button>
        <button (click)="playlist()" class="btn bg-dark border text-white">Playlist</button>
        <app-subida/>
    </div>
    @if (menuSelected == 'canciones'){
        <ul class="nav-list p-4 scrollable-list">
            <li class="nav-list-item" *ngFor="let c of canciones10 | async" (click)="reproducir(c)">
                <img [src]="c.portada" alt="">{{c.titulo}}
            </li>
        </ul>
    } @else {
        <h1>playlist</h1>
    }
</div>