<div class="back">
    <!-- HTML -->
    <div class="navbar">
        <button (click)="playlist()" class="nav-button">Playlist</button>
        <button (click)="subir()" class="nav-button">Subir</button>
        <button (click)="descargar()" class="nav-button">Descargas</button>
    </div>
    <ul class="nav-list mt-3 scrollable-list">
        <li class="nav-list-item" *ngFor="let c of canciones10 | async" (click)="reproducir(c)">
            <img [src]="c.portada" alt="">{{c.titulo}}
        </li>
    </ul>
</div>