.back{
    background-color: #8f8f9470;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 25vw;
    height: 60vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li{
    color: white;
}

img{
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
    margin-right: 5%;
}
.scrollable-list {
    max-height: 60vh;
    overflow-y: auto;
}
/* CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #6e6e6e;
}

.nav-button {
    padding: 10px 20px;
    border: none;
    background-color: #8da7c3;
    color: white;
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    max-width: 64vh;
}

button{
    width: 33%;
}

.rounded-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .straight-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }